@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: #121212;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Poppins', sans-serif;
    text-align: center;
}

span{
    color: rgb(70, 42, 194);
}
